set scrolloff=5
set number
set autoindent
set tabstop=4
set shiftwidth=4
set smarttab
set softtabstop=4
set mouse=a
set relativenumber
set nohlsearch
set hidden
set incsearch
set scrolloff=12
map Q gq
nnoremap ,c :action GotoClass<CR>


let mapleader=" "

"Plugins"
Plug 'easymotion/vim-easymotion'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'

"Mappings"
map <c-n>  :NERDTree<CR>
map <leader>F <Plug>(easymotion-s)
map <leader>f <Plug>(easymotion-f)
map \b <Action>(ToggleLineBreakpoint)
imap jj <Esc>
